[run]
source =
    solstone/apps
    solstone/convey
    solstone/observe
    solstone/talent
    solstone/think
omit =
    .venv/*
    */tests/*
    tests/*
    */__pycache__/*
    */site-packages/*
    config*.py

[report]
omit =
    */__pycache__/*
